docling
langchain
# ollama-client
sentence-transformers
supabase
pdfminer.six
pydantic
python-dotenv
pyyaml
langchain-community
sentence-transformers
docling-core
python-dotenv 
jsonschema
tqdm
ollama